
@model Book

@{
    ViewData["Title"] = "Details";
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 style="text-align: center;">Details for @Model.Title</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <input type="hidden" asp-for="AuthorId" value="@Model.AuthorId" />
                <div class="form-group text-center">
                    <img id="FrontPage" class="border-info rounded-circle" style="max-width: 150px" />
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" readonly />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                    <label asp-for="YearPublished" class="control-label"></label>
                    <input asp-for="YearPublished" class="form-control" readonly />
                    <span asp-validation-for="YearPublished" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @foreach (var genre in Model.BookGenres)
                    {
                        <label asp-for="@genre.Genre.GenreName" class="control-label"></label>
                        <input asp-for="@genre.Genre.GenreName" class="form-control" readonly />
                        <span asp-validation-for="@genre.Genre.GenreName" class="text-danger"></span>
                    }
                </div>
                @{
                    int suma = 0;
                    int br = 0;
                    int rating = 0;
                    @foreach (var r in Model.Reviews)
                    {
                        suma += r.Rating.GetValueOrDefault();
                        br++;
                    }
                    if (br != 0) rating = suma / br;
                }
                <div class="form-group">
                    <label asp-for="@rating" class="control-label"></label>
                    <input asp-for="@rating" class="form-control" readonly />
                    <span asp-validation-for="@rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumPages" class="control-label"></label>
                    <input asp-for="NumPages" class="form-control" readonly />
                    <span asp-validation-for="NumPages" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Publisher" class="control-label"></label>
                    <input asp-for="Publisher" class="form-control" readonly />
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="DownloadUrl" class="control-label"></label>
                    <input asp-for="DownloadUrl" class="form-control" readonly />
                    <span asp-validation-for="DownloadUrl" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="DownloadUrl" class="control-label"></label>
                    <a href="@Model.DownloadUrl" target="_blank">Download</a>
                    <span asp-validation-for="DownloadUrl" class="text-danger"></span>
                </div>
                @* <div class="form-group">
                    <label asp-for="Author.FirstName" class="control-label"></label>
                    <input asp-for="Author.FirstName" class="form-control" />
                    <span asp-validation-for="Author.FirstName" class="text-danger"></span>
                </div> *@

                <div class="form-group">
                    <a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    @*<a class="btn btn-outline-success float-end" asp-action="Review" asp-route-id="@Model.Id">Review</a>*@
                    <a class="btn btn-outline-success float-end" asp-controller="Reviews" asp-action="Index">Review</a>

                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>


