
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Book>

@{
    ViewData["Title"] = "List of Books";
}
<body style="background-image: url('https://th.bing.com/th/id/OIP.Z78dh2qAZBWePOjRfwbIkwHaE7?rs=1&pid=ImgDetMain');">
    <div class="row">
   
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-dark">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Title
                                    @* <a class="text-white float-end"><i class="bi bi-pencil-square"></i></a> *@
                                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.FrontPage" width="100%" alt="@item.Title">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Author: </b>@item.Author.FirstName @item.Author.LastName</p>
                            @*<p class="card-text">Description Sample</p>*@
                            <p class="card-text"><b>Published: </b>@item.YearPublished</p>
                            <p class="card-text"><b>Genre: </b>
                                @foreach (var genre in item.BookGenres)
                                {
                                    <span>@genre.Genre.GenreName</span><br />
                                }
                            </p> 
                                @{
                                    int suma = 0;
                                    int br = 0;
                                    var rating = "/";
                                    foreach (var r in item.Reviews)
                                    {
                                        suma += r.Rating.GetValueOrDefault();
                                        br++;
                                    }
                                    if (br != 0)
                                    {
                                        rating = (suma / br).ToString();
                                    }
                                }

                            <p class="card-text">
                                <b>Grade: </b>
                                @rating
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details</a>
                                <a class="btn btn-danger text-white float-end" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     }
</div>
<div style="position: fixed; right:100px; bottom: 55px;" class="text-white">
    <a asp-controller="Books" asp-action="Create" class="btn btn-success">AddNew</a>
</div>
</body>